@repo: 'https://raw.githubusercontent.com/meewill/SF/main';
@repo: 'https://cdn.jsdelivr.net/gh/meewill/SF@main';

@unicode-gen: U+0000-024F, U+02B0-052F, U+1DC0-20CF, U+2190-22FF, U+2460-24FF, U+25A0-25FF, U+2700-27FF, U+2900-2BFF, U+2C60-2C7F, U+2DE0-2E7F, U+3200-32FF, U+A640-A69F, U+A700-A7FF, U+E000-F8FF, U+FFF0-FFFF, U+F0000-10FFFF;
@unicode____: U+0250-02AF, U+1D00-1DBF, U+2190-22FF;
@unicode-mono: @unicode-gen, @unicode____;
@family-mono: consolas, Menlo, 'Roboto Mono', 'SF Mono';
@family-comp: Arial, SF Compact Text, Roboto, 'Segoe UI', '.SFNSDisplay-Regular';

@weight-mono: {
  Light: 300;
  Semibold: 400;
  Semibold: 500;
  Semibold: 600;
  Bold: 700;
  Heavy: 800;
}

@weights: {
  Thin: 200;
  Light: 300;
  Regular: 400;
  Medium: 500;
  Semibold: 600;
  Bold: 700
}

@tar-SF: {
  nam: 'SF Pro Text';
  dir: '/Fonts/SF-Pro-Text-';
  ext: 'woff2';
}

@tar-mo: {
  nam: 'SF Mono';
  dir: '/Fonts/Mono-Wide-';
  ext: 'woff2';
}

@tar-CM: {
  nam: 'SF Compact Text';
  dir: '/Fonts/SF-Compact-Text-';
  ext: 'woff2';
}

@styles: {
  normal: '';
  italic: 'Italic';
}

@formats: {
  @ttf: TrueType;
  @otf: OpenType;
  @woff: woff;
  @woff2: woff2;
}

.load-fonts(@families, @tar, @weights, @unicode, @local: true) {
  each(@families, .(@family, @k1) {
    each(@weights, .(@numeric, @weight-key) {
      each(@styles, .(@style-val, @style) {
        @font-face {
          font-family: @family;
          .use-src(@family, @tar, @repo, @weight-key, @style-val, @numeric, @style, @local);
          unicode-range: @unicode;
          font-weight: @numeric;
          font-style: @style;
          font-display: swap;
        }
      })
    })
  })
}

.use-src(@family, @tar, @repo, @weight-key, @style-val, @numeric, @style, @local) {
  @nam: @tar[nam];
  @dir: @tar[dir];
  @ext: @tar[ext];
  @format: @formats[@@ext];
  @italic: if(@style-val='', e(''), ' Italic');
  src: if(@local, local('@{nam} @{weight-key}@{italic}') e(','),) url("@{repo}@{dir}@{weight-key}@{style-val}.@{ext}");
}

@font-face {
  font-family: 'XcodeDigits';
  src: local('XcodeDigits Regular'),
  local('XcodeDigits-regular'),
  local('Xcode Digits'),
  local('Xcode Digits Regular'),
  url("https://cdn.jsdelivr.net/gh/meewill/SF/Fonts/XcodeDigits-regular.ttf"),
  url("@{repo}/Fonts/XcodeDigits-regular.ttf");
  unicode-range: U+0030-0039 ;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ──────── Fira Mono, IBM Plex Mono */
.load-fonts(@family-mono, @tar-mo, @weight-mono, @unicode-mono, false);
.load-fonts(@family-comp, @tar-CM, @weights, @unicode-gen);
